<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="true"></setting>
	</settings>
	
	<typeAliases>
		<typeAlias alias="Student" type="com.guoh.mybatis.helloworld1.Student" />
	</typeAliases>
	
	<typeHandlers>
		<typeHandler javaType="com.guoh.mybatis.helloworld1.Enabled"
			handler="com.guoh.mybatis.helloworld1.handler.EnabledTypeHandler"></typeHandler>
	</typeHandlers>
	
	<plugins>
		<plugin interceptor="com.guoh.mybatis.helloworld1.interceptor.MyInterceptor">
			<property name="key1" value="val1" />
		</plugin>
	</plugins>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/test" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="StudentMapper.xml" />
		<mapper resource="UserMapper.xml" />
	</mappers>
</configuration>
